body{
    background-color: rgb(149, 255, 117);
    font-family: 'Papyrus';
}

#show_sketch{
    float: right;
}

h1{
    color: black;
    background-color: rgb(201, 169, 243);
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 150px;
    animation-iteration-count: infinite;
}

@keyframes example{
    from {box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}
}

p{
    padding-top: 10px;
    font-size: 25px;
}